{% extends 'vistaEstudiante.html'%}
{% block cuerpo2 %}
<form action="{{url_for('guardar_finalE',id=informe[0])}}" method="post" enctype="multipart/form-data">
    <div class="container bd-highlight my-3 col-9" style="border: 2px solid #E33439; padding: 20px;">
        <h1 style="text-align: center; font-family: Tahoma; font-size: 30px; color:white; background-color: #E33439;">
            Informe final estudiante
        </h1>
        <br>
        <fieldset class="d-grid gap-2 mb-4">
            <div class="row">
                <div class="col-md-6" style="font-family: Tahoma; font-size: 16px;">
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="emprFinEstudiante">Nombre de la Empresa/Institución:</label>
                            <select class="form-control" id="emprFinEstudiante" name="emprFinEstudiante" required>
                                <option value="">----------</option>
                                {% for i in empresa %}
                                <option value="{{i[0]}}" {% if informe[1]==i[0] %} selected {% endif %} >{{i[1]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="intFinEstudiante">Introducción:</label>
                            <textarea class="form-control" id="intFinEstudiante" name="intFinEstudiante" maxlength="400" style="height: 120px;" required>{{ '' if informe[3] is none else informe[3] }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="descAreFinEstudiante"> Descripción del área de trabajo y relaciones laborales :</label>
                            <textarea class="form-control" id="descAreFinEstudiante" name="descAreFinEstudiante" maxlength="400" style="height: 120px;" required>{{ '' if informe[4] is none else informe[4] }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="descLabFinEstudiante">Descripción de las labores realizadas:</label>
                            <textarea class="form-control" id="descLabFinEstudiante" name="descLabFinEstudiante" maxlength="400" style="height: 120px;" required>{{ '' if informe[5] is none else informe[5] }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="docente">Docente:</label>
                            <select class="form-control" id="docente" name="docente" required>
                                <option value="">----------</option>
                                {% for i in docentes %}
                                <option value="{{i[0]}}" {% if informe[13]==i[0] %} selected {% endif %}>{{i[1]}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="infraestfisica">Infraestructura fisica:</label>
                            <textarea class="form-control" id="infraestfisica" name="infraestfisica" maxlength="400" style="height: 120px;" required>{{ '' if informe[14] is none else informe[14] }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="font-family: Tahoma; font-size: 16px;">
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="infraesttecno">Infraestructura tecnológica:</label>
                            <textarea class="form-control" id="infraesttecno" name="infraesttecno" maxlength="400" style="height: 120px;" required>{{ '' if informe[15] is none else informe[15] }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="conFinEstudiante">Conclusiones:</label>
                            <textarea class="form-control" id="conFinEstudiante" name="conFinEstudiante" maxlength="400" style="height: 120px;" required>{{ '' if informe[6] is none else informe[6] }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="recFinEstudiante">Recomendaciones:</label>
                            <textarea class="form-control" id="recFinEstudiante" name="recFinEstudiante" maxlength="400" style="height: 120px;" required>{{ '' if informe[7] is none else informe[7] }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="bibFinEstudiante">Bibliografía:</label>
                            <textarea class="form-control" id="bibFinEstudiante" name="bibFinEstudiante" maxlength="400" style="height: 120px;" required>{{ '' if informe[8] is none else informe[8] }}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="aneFinEstudiante">Registro de constancia de práctica:</label><br>
                            <input type="file" class="form-control-file" id="aneFinEstudiante" name="aneFinEstudiante" accept="image/*">
                            <label>*Solo acepta en formato .png y .jpg</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    {% if session['role'] == 'docente' or session['role'] == 'admin' %}
                    <label for="obseIniEstudiante">Observaciones:</label>
                    <textarea name="observaciones" id="observaciones" style="height: 150px;" class="form-control">{{ '' if informe[12] is none else informe[12] }}</textarea>
                    {% elif session['role'] == 'estudiante' %}
                    <label for="obseIniEstudiante">Observaciones:</label>
                    <textarea name="observaciones" id="observaciones" style="height: 150px;" class="form-control" readonly>{{ '' if informe[12] is none else informe[12] }}</textarea>
                    {% endif %}
                </div>
            </div>
        </fieldset>
        {% if rol==2 %}
        
        {% endif %}
        <div class="d-flex justify-content-end my-2">
            {% if rol !=1 %}
            <a href="{{url_for('listaPPP')}}" class="btn btn-secondary me-2">Cancelar</a>
            {% else %}
            <a href="{{url_for('listarInformes')}}" class="btn btn-secondary me-2">Cancelar</a>
            {% endif %}
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </div>
</form>
{% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    {% for category, message in messages %}
                    Swal.fire({
                        title: 'Notificación',
                        text: {{ message| tojson | safe }},
                    icon: "{{ 'success' if category == 'success' else 'error' if category == 'error' else 'info' }}",
                    confirmButtonText: 'Aceptar'
        });
                {% endfor %}
    });
            </script>
            {% endif %}
            {% endwith %}
{% endblock cuerpo2 %}