{% extends 'vistaDocente.html'%}
{% block cuerpo2 %}
<div class="container-fluid">
    <div class="row">
        {% include '1barraLateral.html' %}
        <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10 col-xxl-10 pe-0">
            
            {% include '2buscador.html' %}
            
            <form method="post" enctype="multipart/form-data" action="" class="col-12">
                <div class="col-12 bd-highlight container-fluid w-100 my-2 mx-0 pe-4">
                    <div class="d-flex justify-content-between align-middle py-2 pb-0">
                        <div class="d-block justify-content-start">
                            <div class="btn-group me-2">
                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <b class="bi bi-funnel-fill" style="font-size: 13px;"> Escuela profesional</b>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="?id">Todos</a></li>
                                    {% for i in escuelas %}
                                        <li><a class="dropdown-item" href="?nomEscuela={{ i[1] }}&dir={{next_dir}}&page={{1}}&columna=1&page={{total_pages}}">
                                            {{ i[1] }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <nav>
                            <ul class="pagination">
                                {% if page > 1 %}
                                    <li class="page-item" >
                                        <a class="page-link" href="?nomArea ={{ linea }}&dir={{next_dir}}&page=1&columna=1&page={{total_pages}}" style="font-size: 13px;">Inicio</a>
                                    </li>
                                {% endif %}
                                {% if page > 1 %}
                                    <li class="page-item">
                                        <a class="page-link" style="font-size: 13px;" href="?nomArea={{ linea }}&dir={{next_dir}}&page={{page-1}}&columna=1&page={{total_pages}}">Anterior</a>
                                    </li>
                                {% endif %}
                                {% for p in range(1, total_pages + 1) %}
                                    <li class="page-item {% if p == page %}active{% endif %}">
                                        <a class="page-link" style="font-size: 13px;" href="?nomArea={{ linea }}&dir={{next_dir}}&page={{p}}&columna=1&page={{total_pages}}">{{ p }}</a>
                                    </li>
                                {% endfor %}
                                {% if page < total_pages %}
                                    <li class="page-item">
                                        <a class="page-link" style="font-size: 13px;" href="?nomArea={{ linea }}&dir={{next_dir}}&page={{page+1}}&columna=1&page={{total_pages}}">Siguiente</a>
                                    </li>
                                {% endif %}
                                {% if page < total_pages %}
                                    <li class="page-item">
                                        <a class="page-link" style="font-size: 13px;" href="?nomArea={{ linea }}&dir={{next_dir}}&page={{total_pages}}&columna=1&page={{total_pages}}">Fin</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    {% if lista %}
                        <table class="table table-striped " style="background-color: whitesmoke;">
                            <thead>
                                <th class="align-middle" scope="col"><a href="#">#</a></th>
                                <th class="align-middle" scope="col"><a href="?nomArea={{ linea }}&dir={{next_dir}}&page={{page}}&columna=1&page={{total_pages}}">Nombre</a></th>
                                <th class="align-middle" scope="col"><a href="?nomArea={{ linea }}&dir={{next_dir}}&page={{page}}&columna=2&page={{total_pages}}">Estado</a></th>
                                <th class="text-center align-middl" scope="col"><a href="#">Acciones</a></th>
                            </thead>
                            <tbody>
                                {% for elemento in lista %}
                                    <tr>
                                        <td scope="col" class="col-1" style="padding-left: 10px; width: 70px;">{{ elemento[0] }}</td>
                                        <td scope="col" class="col-8" >{{ elemento[1] }}</td>
                                        <td scope="col" class="col-1">{% if elemento[2] %}Activo{% else %}No activo{% endif %}</td>
                                        <td class="col text-center align-middle">
                                            <div class="btn-group" role="group" style="gap: 10px;height: 30px;">
                                            {% include 'modales.html' %}
                                               <a href="#" data-bs-toggle="modal" data-bs-target="#verlinea{{elemento[0]}}" class="btn btn-info btn-sm rounded" role="button" title="Visualizar"><i class="bi bi-eye-fill"></i></a>
                                               {% if elemento[2] %}
                                               <a href="{{url_for('cambiarEstLinea',estado=elemento[2],id=elemento[0])}}" class="btn btn-danger btn-sm rounded" role="button" title="Dar de Baja"><i class="bi bi-dash-circle"></i></a>
                                               {% else %}
                                               <a href="{{url_for('cambiarEstLinea',estado=elemento[2],id=elemento[0])}}" class="btn btn-success btn-sm rounded" role="button rounded" title="Dar de Alta"><i class="bi bi-check-circle"></i></a>
                                               {% endif %}
                                               <a href="#" class="btn btn-primary btn-sm rounded" role="button" data-bs-toggle="modal" data-bs-target="#modal-modificar-linea{{elemento[0]}}" title="Modificar"><i class="bi bi-pencil-fill"></i></a>
                                               <a type="button" href="#" class="btn btn-danger btn-sm rounded" data-bs-toggle="modal" data-bs-target="#modal-eliminar-linea" title="Eliminar">
                                                <i class="bi bi-trash-fill"></i>
                                            </a>                                             
                                           </div> 
                                       </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                    {% set elemento = [0] %}
                    {% include 'modales.html' %}
                        <h3>No se encontraron resultados... :'(</h3>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        {% for category, message in messages %}
        Swal.fire({
            title: 'Notificación',
            text: {{ message| tojson | safe }},
        icon: "{{ 'success' if category == 'success' else 'error' if category == 'error' else 'info' }}",
        confirmButtonText: 'Aceptar'
});
    {% endfor %}
});
</script>
{% endif %}
{% endwith %}
{% endblock cuerpo2 %}